body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffcccc;
    padding: 20px;
}

.hidden {
    display: none;
}

button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}

button:hover {
    background-color: #cc0000;
}
